/* FullScreenToast.css */

.toast-fade {
  animation: fadeIn 0.3s ease-in-out;
}

.toast-popup {
  animation: popup 0.4s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(4px);
  }
}

@keyframes popup {
  0% {
    transform: scale(0.9) translateY(20px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
